<template>
    <v-container fluid grid-list-xl>
        <v-layout row wrap align-center justify-center>
            <v-flex md12 lg12>
                <h3 class="text-lg-center">Login</h3>
            </v-flex>
            <v-flex md4 lg4 align-center>
                <v-form>
                    <v-text-field
                        v-model="email"
                        placeholder="Email"
                        name="email"
                        v-validate="'required|email'"
                        data-vv-name="email"
                        :error-messages="errors.collect('email')"
                    ></v-text-field>
                    <v-text-field
                        v-model="password"
                        :append-icon="show1 ? 'visibility_off' : 'visibility'"
                        :type="show1 ? 'text' : 'password'"
                        placeholder="Password"
                        hint="At least 6 characters"
                        @click:append="show1 = !show1"
                        name="password"
                        v-validate="'required|min:6'"
                        data-vv-name="password"
                        :error-messages="errors.collect('password')"
                    ></v-text-field>
                    <v-btn 
                        color="info"
                        block
                        @click="login">Submit</v-btn>
                </v-form>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    export default {
        data() {
            return {
                show1: false,
                email: null,
                password: null
            }
        },
        methods: {
            login() {
                let self = this
                this.$validator.validateAll().then( result => {
                    if( result ) {
                        axios.get('/api/login', {
                            params: {
                                email: self.email,
                                password: self.password
                            }
                        }).then( response => {
                            let data = response.data
                            if( response.status == 200 && data.success == true ) {
                                router.push('/user')
                            }
                        })
                    }
                })
            }
        },
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
